.select .main {
    border: 1px solid;
    display: inline-block;
    min-height: 20px;
    min-width: 50px;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid;
}

.item.selected {
    background-color: cadetblue;
    color: white;
}